body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: solid 2px red; */
}

.post {
    width: 350px;
    height: 520px;
    background-color: white;
}

.post-header {
    /* border: solid 2px red; */
    height: 40px;
    display: flex;
    /* justify-content: flex-end; */
}

.post-img img {
    /* border: solid 2px red; */
    max-width: 100%;
    height: 275px;
    background-size: contain;
    background-repeat: no-repeat;
}

p { 
    font-family: "Roboto Flex", sans-serif;
    font-size: 13px;
}

.post-title {
    font-family: "Roboto Flex", sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid 2px #ffa500; */
    flex-basis: 80%;
    padding: 2px;
}

.post-icon-title {
    /* border: solid 2px orange; */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-basis: 10%;
}

.ellipsis-container {
    /* border: solid 2px orange; */
    display: flex;
    justify-content: center;            
    align-items: center;    
    flex-basis: 10%;
}

.post-body {
    /* border: solid 2px red; */
    padding: 10px;
}

.fa-bookmark {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.post-icons {
    display: flex;
}

.three-icons {
    /* border: solid 2px orange;  */
    align-items: center;
    flex-basis: 90%;
}

.one-icon {
    /* border: solid 2px orange; */
    display: flex;
    justify-content: center;            
    align-items: center;    
    flex-basis: 10%;
}